#!/usr/bin/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~' # `cd` is probably faster to type though
alias -- -='cd -'

# shortcuts
alias cls='clear'
alias c='clear'
alias n='nano'
alias s="source ~/.zshrc"

# exa (ls replacement)
alias ls='exa'
alias ll='exa --long --git'
alias la='exa -a'
alias lla='exa --long --git --all --header'

# git
alias g='git'
alias gs='git status'
alias ga='git add .'
alias gc='git commit -m $1'
alias gp='git push'
alias gl='git pull'

function gpush() {
    ga
    gc "Auto backup"
    gp
}


# apt
alias update='sudo apt update'
alias upgrade='sudo apt upgrade'
alias upgradable='sudo apt list --upgradable'



# networking
alias ips="ifconfig | grep 'inet '"





function mkd() {
    mkdir -p $1
    cd $1
}


# string manipulation
# trim
alias trim="awk '{\$1=\$1;print}'"



function note() {
    echo "## $(date)" >> $HOME/notes.md
    echo "$@" >> $HOME/notes.md
    echo "" >> $HOME/notes.md
}


# test cron task